name: CI FastAPI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do codigo
        uses: actions/checkout@v2

      - name: Instalar o Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Instalar Poetry
        run: pipx install poetry

      - name: Instalar Dependencias
        run: poetry install
      
      - name: Rodar Testes
        run: poetry run pytest